---
layout: front
title: Home
---

<section>
  <h1>Hello, I'm Zachary.</h1>
  <figure class="self-photo"><img src="/public/me.jpg" alt="A photo of me"></figure>
  <p>I'm a full-stack developer and designer living in Atlanta, by way of Kansas City but originally from Florida. I enjoy photography, reading, and fitness (but also pizza). If you're curious, you can find <a href="/about/">a more personal bio here</a>.</p>
</section>

<section>
  <h3>Work</h3>

  <p>I work as a freelancer providing full-stack development and front-end performance consulting. I've been working on the web for over ten years now and have enjoyed working with teams on several projects at <a href="https://google.com">Google</a>, <a href="https://cerner.com">Cerner</a>, and <a href="http://www.coxmediagroup.com/">Cox Media Group</a>.</p>
</section>

<section class="callout">
  <h4>Want to work together?</h4>

  <p>If you'd like to check out my work or get in touch professionally, please check out <a href="/hire-me/">my hiring page</a>.</p>

</section>

<section>
  <h3>Writings</h3>
  <p>I occasionally write posts about web development, design, and my varied other interests.</p>

  <ul class="writings">
    {% for post in paginator.posts %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    {% if paginator.next_page %}
    <li class="older"><a href="#">Older Posts</a></li>
    {% endif %}
  </ul>
</section>

<section>
  <h3>Contacting Me</h3>

  <p>I'm pretty accessible online via several outlets. I'm @zacharytamas on <a href="{{site.elsewhere.github}}">Github</a>, <a href="{{site.elsewhere.twitter}}">Twitter</a>, and <a href="{{site.elsewhere.instagram}}">Instagram</a>. You can also email me at <a href="mailto:{{site.author.email}}">{{site.author.email}}</a>.</p>
</section>
