
body.front {
  background: $background;
  color: rgba(0, 0, 0, .5);
  margin-top: 4rem;

  ul.writings {
    li.older {
      font-weight: bold;
      a {
        color: $green;
      }
    }
  }

  section {
    clear: right;
  }

  p {
    span.last-paragraph {
      @media (min-width: $large-breakpoint) {
        display: block;
        margin-top: 1rem;
      }
    }
  }

  figure.self-photo {
    margin: 0;
    margin-left: 1rem;
    float: right;
    max-width: 12rem;

    @media (max-width: $large-breakpoint) {
      display: none;
    }
  }

  section.callout {
    margin: 0 -1rem;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, .5);
  }

}
